
<div>
    <div class="table-title">
        Basket
    </div>
    <div class="table-header">
        <div class="name">Name</div>
        <div class="type">Type</div>
        <div class="quantity">Quantity</div>
        <div></div>
    </div>
    <div class="table-body" *ngIf="purchaseItems && 0<purchaseItems.length; else noOrder">
        <div class="row" *ngFor="let item of purchaseItems">
            <div class="remove-excess">
                <div class="name">{{item.name}}</div>
                <div class="type">{{item.type}}</div>
                <div class="quantity">{{item.quantity}}</div>
                <div class="cancel"><button (click)=cancelOrder(item.id)>Cancel Order</button></div>
            </div>
        </div>
    </div>
    <ng-template #noOrder>
        <div class="basket-empty">
            No Order Available...
        </div>  
    </ng-template>
</div>