table, th, td {
    border: 1px solid black;
}

caption {
  font-size: 24px;
}

div {
  width: 500px
}

table {
  width: 100%;
}

.name {
  width:50%
}

.type{
  width: 20%; 
}

.quantity {
  width: 15%;
}
.cancel {
  width: 15%;
}


div .title{
  text-align: center; 
  font-size: 24px;
}