<form [formGroup]="loginForm" (ngSubmit)="signin()"   class="login" >
    <p class="login-title">Log In</p>
    <div class="input">
      <label>Username:</label>
      <input type="text" formControlName="username">
    </div>
    <div class="input">
      <label>Password:</label>
      <input type="password" formControlName="password">
    </div>
    <div class="div-button">
      <div>
        <span>{{errorMsg}}</span>
        <button  [disabled]="!loginForm.valid" type="submit" class="login">Sign In</button>
      </div>
    </div>
   
  </form>
