
<div>
    <div class="title">Product</div>
    <div>
        <div class="filter name">
            Filter Name: <input type="text" [ngModel]="filterName" (ngModelChange)="onChanged($event)" maxlength = "30">
        </div>
        <div class="filter type">
            Filter Type:   
            <select #select (change)='onOptionsSelected(select.value)'>
                <option value=""></option>
                <option *ngFor="let type of types" [value]="type.type">{{type.type}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="th name">Name</div>
        <div class="th type">Type</div>
        <div class="th description">Description</div>
        <div class="th quantity">Quantity</div>
    </div>
    <div class="table" *ngIf="products && 0<products.length; else filterNotFound">
        <div  class="row" *ngFor="let product of products">
            <div class="name">{{product.name}}</div>
            <div class="type">{{product.type}}</div>
            <div  class="description">{{product.description}}</div>
            <div class="quantity"><input type="number" id="id_{{product.id}}"/></div>
            <div class="order"><button (click)="purchase(product.id)">Order</button></div>
        </div>
    </div>
    <ng-template #filterNotFound>
        <div class="product-empty">
            Query Not Found...
        </div>
     
    </ng-template>
</div>

