
div .table{
  width: 1200px;
  margin-bottom: 15px;
  height: 240px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.table-title{
  text-align: center; 
  font-size: 24px;
  font-weight: bold;
}

.name {
  display: inline-block;
  width: 30%;
}

.name input {
  display: inline-block;
  width: 60%;
}

.type{
  display: inline-block;
  width: 13%;
  text-align: center;
}

.description{
  display: inline-block;
  width:40%
}

.quantity {
  text-align: center;
  display: inline-block;
  width: 10%
}

.quantity input{
  display: inline-block;
  width: 60px;
}

.order {
  text-align: center;
  display: inline-block;
  width: 7%;
}

.filter {
  display: inline-block;
  font-weight: bold;
}

.product-empty{
  width: 1200px;
  margin: 20px 0;
}

.row {
  padding: 1px 0px;
}

.table-header {
  display: flex;
  width: 1182.2px;
  border-bottom: 3px solid black;
  padding: 1px 0px;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.table-filter{
  width: 1182.2px;
}

.remove-excess{
  width: 1182.2px;
  border-bottom: 1px solid black;
}