<table>
    <tr>
        <td>Filter Name: <input type="text" [ngModel]="filterName" (ngModelChange)="onChanged($event)"></td>
        <td>Filter Type:   
            <select #select (change)='onOptionsSelected(select.value)'>
                <option value=""></option>
                <option *ngFor="let type of types" [value]="type.type">{{type.type}}</option>
          </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.description}}</td>
        <td><input type="number" id="id_{{product.id}}"/></td>
        <td><button (click)="purchase(product.id)">Buy</button></td>
    </tr>
</table>