
div table{
  width: 1200px;
  margin: 15px 0;
}

div .title{
  text-align: center; 
  font-size: 24px;
}
table, th, td {
    border: 1px solid black;
}

.name {
  width: 30%;
}

.name input {
  width: 60%;
}

.type{
  width: 15%;
}

.description{
  width:50%
}

.quantity {
  width: 5%
}

.quantity input{
  width: 60px;
}

.filter{
  display: inline-block
}

.product-empty{
  width: 1200px;
  margin: 20px 0;
}